{% extends 'books/base.html' %}
{% block content %}
    {% load static %}
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                    <li><a href="#">Главная</a></li>
                    <li class="active">Оформление заказа</li>
                </ol>
            </div>


            <h1>Спасибо за покупку</h1>
            <p>Ваш заказ успешно оформлен. Номер вашего заказа :
                <strong>{{ order.id }}</strong>.</p>
                <p>{{ order.email }}</p>



        </div>
    </section>
{% endblock content %}