{% extends 'books/base.html' %}
{#{% load book_tags %}#}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>Жанры</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->

                            <form action="{% url 'filter' %}" method="get" name="filter">

                                {% for genre in view.get_genres %}

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <input type="checkbox" class="checked" name="genre"
                                                   value="{{ genre.id }}">
                                            <span><a href="#" style="text-decoration: None">{{ genre.name }}</a></span>>
                                        </div>
                                    </div>

                                {% endfor %}
                                <button type="submit">Найти</button>
                            </form>

                        </div><!--/category-products-->
                    </div>
                </div>
                <div class="col-sm-9 padding-right">
                    <div class="features_items"><!--features_items-->
                        <h2 class="title text-center">Последние книги</h2>
                        {% for book in object_list %}
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="{{ book.poster.url }}" width="300" height="400" alt=""/>
                                            <a href="{{ book.get_absolute_url }}"><h2>{{ book.title }}</h2></a>
                                            <p>{{ book.price }}$</p>
                                            {% for author in book.authors.all %}
                                                <p>{{ author.name }}</p>
                                            {% endfor %}
                                            </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div><!--features_items-->
                    <div class="recommended_items"><!--recommended_items-->
                        <h2 class="title text-center">Рекомендуемые книги</h2>
                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">


                                    {% for i in last_books %}
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="{{ i.poster.url }}" height="250px">
                                                        <h2>${{ i.price }}</h2>
                                                        <p><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                </div>

                                <div class="item">

                                    {% for i in last_last_books %}
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="{{ i.poster.url }}" height="250px">
                                                        <h2>${{ i.price }}</h2>
                                                        <p><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></p>
                                                        <a href="#" class="btn btn-default add-to-cart"><i
                                                                class="fa fa-shopping-cart"></i>В список</a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}


                                </div>
                            </div>
                            <a class="left recommended-item-control" href="#recommended-item-carousel"
                               data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="right recommended-item-control" href="#recommended-item-carousel"
                               data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div><!--/recommended_items-->
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

