{% extends 'books/base.html' %}
{% block content %}
    {% load static %}
    <section id="form"><!--form-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-offset-1">
                    <div class="login-form"><!--login form-->
                        <h2>Войдите в свой аккаунт</h2>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            {{ form }}
                            <button type="submit" class="btn btn-success btn-block">
                                Вход
                            </button>
                            <a href=".." class="btn btn-danger btn-block">
                                Вернуться на главную
                            </a>
                        </form>
                    </div><!--/login form-->
                </div>
            </div>
        </div>
    </section>
{% endblock content %}