{% extends 'books/base.html' %}
{% load static %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <img src="{% static '/images/shelf.jpg' %}" width="250px" height="700">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="blog-post-area">

                        {% for order in object_list %}

                            <ul style="border: solid black 1px">
                                <li>Имя : {{ order.first_name }}</li>
                                <li>Фамилия : {{ order.last_name }}</li>
                                <li>email : {{ order.email }}</li>
                                <li>Адресс : {{ order.address }}</li>
                                <li>Почтовый индекс : {{ order.postal_code }}</li>
                                <li>Город : {{ order.city }}</li>
                                <li>Заказ оформлен : {{ order.created }}</li>
                                <li>Заказ изменен : {{ order.updated }}</li>
                                <li>Оплата : {{ order.paid }}</li>
                                <h4> Товары : </h4>
{#                                {% items = order_items.get(order_id) %}#}
                                {% for item in order_items %}
                                    {% if item.order_id == order.id %}
                                        <li>{{ item.product }}</li>
                                    {% endif %}
                                {% endfor %}

                            </ul>
                            <br>
                        {% endfor %}

{#                    <a href="{% url 'save_as_pdf' %}">Сохранить PDF.</a>#}
{#                    <button class="btn btn-default pull-right" name="pdf" type="submit">СохранитьPDF</button>#}


                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
