{% extends 'books/base.html' %}
{% include static %}
{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="left-sidebar">


                        <div class="search-bar w3layouts-newsletter">
                            <h3 class="sear-head editContent">Поиск фильма</h3>
                            <form action="{% url 'search' %}" method="get" class="d-flex editContent">

                                <input type="search" placeholder="Введите название..." name="q" class="form-control"
                                       required="">
                                <button type="submit" class="btn1 btn">
                                    <span class="fa fa-search" aria-hidden="true"></span>
                                </button>
                            </form>
                        </div>


                        <h2>Жанры</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->

                            <form action="{% url 'filter' %}" method="get" name="filter">

                                {% for genre in view.get_genres %}

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <input type="checkbox" class="checked" name="genre"
                                                   value="{{ genre.id }}">
                                            <span><a href="#" style="text-decoration: None">{{ genre.name }}</a></span>>
                                        </div>
                                    </div>

                                {% endfor %}
                                <button type="submit">Найти</button>
                            </form>

                        </div><!--/category-products-->
                    </div>
                </div>


                <div class="col-sm-9 padding-right">


                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit"
                                class="btn btn-success btn-block">
                            Подписаться
                        </button>
                        <a href=".." class="btn btn-danger btn-block">
                            Вернуться на главную
                        </a>
                    </form>


                </div>
            </div>
        </div>
    </section>
{% endblock content %}

